body {
    background-image: url('moutain.png');
    height: 4vh;
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: bisque;
}
.navbarContainer {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.row {
    margin-right: 0;
}

.navbarContentContainer {
    width: 100%;
}

.nav-link {
    color:rgb(255, 255, 255);
}

.nav {
    font-family: 'Raleway', sans-serif, bold;
    font-size: 1.2rem;
    font-weight: bold;
    height: 11vh;
    align-items: center;
}

.navMilieu {
    font-family: 'Lobster Two', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
}

.title {
    left : calc(50vw - 240px);
    position: absolute; 
    top: 20vh; 
    align-items: center;
    z-index: 1000;
    animation: 2s fadeInUp;
}

.title1{
    font-family: 'DM Serif Display', serif;
    font-size: 7rem;
    font-weight: bolder;
}

.title2 {
    font-family: 'Raleway', sans-serif, lighter;
    font-size: 1.5rem;
}

.logo {
    font-family: 'Lobster Two', sans-serif;
}

.textContainer {
    font-family: 'Raleway', sans-serif;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 480px;
    animation: 3s fadeInUp;
    margin-bottom: 100px;
}

.valueTitleContainer {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 500px;
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
}
.valueContainer {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.value1, .value2, .value3 {
    background-color: rgba(88, 58, 30, 0.489);
    border-radius: 20px;
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    display: flex;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
/* Map */

.map {
    margin-left: 150px;
    margin-bottom: 100px;
}

.mapTitle{
    margin-left: 150px;
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    margin-top: 50px;
}

.mapSubtitle {
    font-family: 'Raleway', sans-serif;
    margin-left: 150px;
    font-size: 3rem;
}
